# Composer lock file
composer.lock

# IDEs
/nbproject
/.idea
/.vscode

# Vendors
/vendor

# Temp dirs & trash
/temp
/tmp
/coverage
.DS_Store
*.cache
/runtime

# Binaries
/rr
/rr.exe
/protoc
/protoc.exe
/protoc-gen-php-grpc
/protoc-gen-php-grpc.exe
/temporal
/temporal.exe
