* text=auto

/.*           export-ignore
/tests        export-ignore
/[Dd]ocker*   export-ignore
/*.xml        export-ignore
/*.xml.dist   export-ignore
/phpstan.*    export-ignore
/Makefile     export-ignore
/rector.php   export-ignore
