parameters:
  level: 'max'
  paths:
    - src
    - bin/rr-worker
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - message: '#Access to an undefined property.*::\$app#'
      paths: [src/Listeners/RebindHttpKernelListener.php]
    - message: '#Access to an undefined property.*::\$container#'
      paths: [src/Listeners/RebindRouterListener.php]
    - message: '#Access to an undefined property.*::\$(container|shared)#'
      paths: [src/Listeners/RebindViewListener.php]
