<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="false" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
        </exclude>
        <report>
            <html outputDirectory="./coverage/html"/>
            <xml outputDirectory="./coverage/xml"/>
            <clover outputFile="./coverage/clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <!-- deprecated -->
    <logging>
        <log type="coverage-html" target="./coverage/html"/>
        <log type="coverage-xml" target="./coverage/xml"/>
        <log type="coverage-clover" target="./coverage/clover.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <!-- /deprecated -->

    <php>
        <server name="APP_KEY" value="base64:+hY09mlBag/d7Qhq2SjE/i2iUzZBS1dGObLqcHZU2Ac=" force="true"/>
        <server name="APP_URL" value="http://unit-test" force="true"/>
    </php>
</phpunit>
